[Unit]
Description=Wikimedia pool counter

[Service]
ExecStart=/usr/bin/poolcounterd $ARGS
EnvironmentFile=-/etc/default/poolcounter
User=poolcounter
LimitNOFILE=65535
Restart=always

[Install]
WantedBy=multi-user.target
